        COSC710_Assignment02.pdf
        Social Networks HW2.txt
        Starbucks.docx
        comment.csv
        sb_ideaforce.zip
        sb_ideaforce/distinct authors.csv
        sb_ideaforce/s6.sql
        sb_ideaforce/s7.sql
        sb_ideaforce/set_local_sbf_comment.sql
        sb_ideaforce/set_local_sbf_suggestion.sql
        sb_ideaforce/starter.sql
        suggestion.csv
        test2.py
        testBlob.py